@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
body{
  margin: 0px;
  border: 0px;
  padding: 0px;
}
ul {
  padding-left: 20px;
}

ul li {
  display:inline;
  border-left:1px solid #999;
  font:bold 12px Dotum;
  padding:0 10px;
}

ul li:first-child{
  border-left:none;
}

.header{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 55px;
  background-color: #1c1c1c;
  z-index: 10;
}

a{
  color: #00BFFF;
  font-size: 14px;
}

.body{
  position: absolute;
  top: 0px;
  left: 13%;
  width: 74%;
  height: 4000px;
}

.introduce{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1000px;
  width: 100%;
  background-image:url('../images/backgroundimg.jpeg');
  background-size: 100% 1000px;
  opacity: 0.8;
  text-align: center;
}

.introduce h1{
  position: relative;
  top: 100px;
  color: white;
  font-family: 'Raleway';
  font-size: 50px;
}

.example{
  position: absolute;
  top: 1000px;
  left: 0px;
  height: 1000px;
  width: 100%;
  background-image:url('../images/backgroundimg.jpeg');
  background-size: 100% 1000px;
}

.example strong{
  position: absolute;
  right:15%;
  font-size: 75px;
  color:#FFFAF0;
  font-family: 'Raleway';
  font-weight: bold;
}

.example img{
  position: absolute;;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 60%;
}

.main{
  position: absolute;
  top: 2000px;
  left: 0px;
  height: 1000px;
  width: 100%;
  background-color: white;
}

.main_top{
  margin: 3px;
  height:8%;
}

.imagebuttons{
  float:right;
}

.main_body{
  margin: 3px;
  height:60%;
}

.main .left{
  float: left;
  width:49%;
}

.main .right{
  float: right;
  width:49%;
}

.main textarea{
  width:100%;
  height:100%;
  resize:none;
}

.main iframe{
  width:100%;
  height:99.5%;
  background-color: white;
}

.main strong{
  font-family: 'Raleway';
  font-size: 30px;
}

.contact{
  position: absolute;
  top: 3000px;
  left: 0px;
  height: 1000px;
  width: 100%;
  background-image: url("../images/contactback.jpg");
}

.contact strong{
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  color: white;
}

.contact_top{
  position: relative;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  background-color: #101010;
  text-align: center;
}

.contact_body{
  position: relative;
  top: 0px;
  left: 0px;
}

.contact_body img{
  float:left;
}

.contact_body table{
  position:relative;
  left:20%;
  top: 50px;
  width: 60%;
  height: 200px;
  text-align: left;
}

.contact_body td{
  text-align:center;
  vertical-align: top;
}

.w3-display-left {
    position: absolute;
    top: 45%;
    left: 15%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.w3-display-right {
    position: absolute;
    top:  45%;
    right: 15%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}

.w3-button:hover {
    color: #000!important;
    background-color: #ccc!important;
}

.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}

.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
