<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
body{
  margin: 0px;
  border: 0px;
  padding: 0px;
}
ul {
  padding-left: 20px;
}

ul li {
  display:inline;
  border-left:1px solid #999;
  font:bold 12px Dotum;
  padding:0 10px;
}

ul li:first-child{
  border-left:none;
}

.header{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 55px;
  background-color: #1c1c1c;
  z-index: 10;
}

a{
  color: #00BFFF;
  font-size: 14px;
  font-family: 'Raleway';
}

.body{
  position: absolute;
  top: 0px;
  left: 13%;
  width: 74%;
  height: 4000px;
}

.introduce{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 1000px;
  width: 100%;
  background-image:url('./image2.jpeg');
  background-size: 100% 1000px;
  opacity: 0.8;
  text-align: center;
}
.introduce h1,h2,h3,h4{
  position: relative;
  top: 100px;
  color: white;
  font-family: 'Raleway'
}
.example{
  position: absolute;
  top: 1000px;
  left: 0px;
  height: 1000px;
  width: 100%;
  background-color: white;
  background-image:url('./image2.jpeg');
  background-size: 100% 1000px;
}
.example img{
  position: relative;
  top: 30px;
  left: 10%;
  width: 80%;
  height: 600px;
}

.main{
  position: absolute;
  top: 2000px;
  left: 0px;
  height: 1000px;
  width: 100%;
}

.main textarea{
  width:500px;
  height:700px;
}

.main strong{
  font-size: 30px;
}

.contact{
  position: absolute;
  top: 3000px;
  left: 0px;
  height: 1000px;
  width: 100%;
  background-color: #505050;
}
.contact-top{
  position: relative;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  background-color: #101010;
}
.contact i,h1{
  position: relative;
  top: 20%;
  font-size: 30px;
  color: white;
}
.contact a{
  font-size: 30px;
}
.w3-display-left {
    position: absolute;
    top: 35%;
    left: 10%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}

.w3-display-right {
    position: absolute;
    top: 35%;
    right: 10%;
    transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
}

.w3-button:hover {
    color: #000!important;
    background-color: #ccc!important;
}

.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}

.w3-btn, .w3-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.w3-btn, .w3-button {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
